<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="net46" />
  <package id="IKVM.OpenJDK.Core" version="7.2.4630.5" targetFramework="net46" />
  <package id="IKVM.OpenJDK.Text" version="7.2.4630.5" targetFramework="net46" />
  <package id="IKVM.OpenJDK.Util" version="7.2.4630.5" targetFramework="net46" />
  <package id="IKVM.OpenJDK.XML.API" version="7.2.4630.5" targetFramework="net46" />
  <package id="IKVM.Runtime" version="7.2.4630.5" targetFramework="net46" />
  <package id="MvvmLight" version="5.3.0.0" targetFramework="net46" />
  <package id="MvvmLightLibs" version="5.3.0.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net46" />
  <package id="Syncfusion.Calculate.Base46" version="15.3.0.29" targetFramework="net46" />
  <package id="Syncfusion.Compression.Base46" version="15.3.0.29" targetFramework="net46" />
  <package id="Syncfusion.Data.WPF46" version="15.3.0.29" targetFramework="net46" />
  <package id="Syncfusion.Grid.WPF46" version="15.3.0.29" targetFramework="net46" />
  <package id="Syncfusion.GridCommon.WPF46" version="15.3.0.29" targetFramework="net46" />
  <package id="Syncfusion.Linq.Base46" version="15.3.0.29" targetFramework="net46" />
  <package id="Syncfusion.RichTextBoxAdv.WPF46" version="15.3.0.29" targetFramework="net46" />
  <package id="Syncfusion.RichTextRibbon.WPF46" version="15.3.0.29" targetFramework="net46" />
  <package id="Syncfusion.SfBusyIndicator.WPF46" version="15.3.0.29" targetFramework="net46" />
  <package id="Syncfusion.SfGrid.WPF46" version="15.3.0.29" targetFramework="net46" />
  <package id="Syncfusion.SfShared.WPF46" version="15.3.0.29" targetFramework="net46" />
  <package id="Syncfusion.Shared.WPF46" version="15.3.0.29" targetFramework="net46" />
  <package id="Syncfusion.Tools.WPF46" version="15.3.0.29" targetFramework="net46" />
  <package id="Syncfusion.XlsIO.Base46" version="15.3.0.29" targetFramework="net46" />
</packages>